@using KnowSysTest.Entities.Membership
@using KnowSysTest.PL.WebUI.Helpers
@using KnowSysTest.PL.WebUI.ViewModels.Membership

@{
    Page.Title = "Add Role";
    var user = new UserDTO();
    var roles = Providers.RoleBll.GetAllRoles();

    if (IsAjax)
    {
        Layout = null;

        if (!User.Identity.IsAuthenticated || !User.IsInRole("Admin"))
        {
            Response.Redirect(string.Format("~/Pages/Users/Login.cshtml?backUrl={0}&moDAL=1", Request.CurrentExecutionFilePath));
            return;
        }

        if (Request["Id"] == null)
        {
            Response.SetStatus(HttpStatusCode.NotFound);
            return;
        }
        try
        {
            user = Providers.UserBll.GetUser(Guid.Parse(Request["Id"]));
        }
        catch (Exception e)
        {
            Response.SetStatus(HttpStatusCode.NotFound);
            return;
        }
    }

    if (IsPost)
    {
        var userId = Request["UserId"];
        var roleId = Request["RelatedId"];

        if (!string.IsNullOrWhiteSpace(userId) && !string.IsNullOrWhiteSpace(roleId))
        {
            var userInRole = new UserInRoleVm(Guid.Parse(userId), Guid.Parse(roleId));
            var result = Providers.userInRoleBll.CreateUserInRole(userInRole);

            if (result)
            {
                Response.Redirect("~/Pages/Users/Manage");
            }
        }
    }
}

<form method="post" action="~/Pages/Users/AddRole.cshtml">
    <span>Choose an appropriated role</span>
    <div class="form-group">
        <select class="form-control" name="RelatedId">
            @foreach (var role in roles)
            {
                <option value="@role.RoleId">@role.RoleName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control hidden" name="UserId" value="@user.UserId">
    </div>
    <div class="form-group">
        <button class="btn">Ok</button>
        <a href="~/default.cshtml" class="btn">Cancel</a>
    </div>
</form>