@using KnowSysTest.Entities
@using KnowSysTest.PL.WebUI.Helpers

@{
    Page.Title = "Delete Question";
    var question = new QuestionDTO();

    if (IsAjax)
    {
        Layout = null;

        if (!User.Identity.IsAuthenticated || !User.IsInRole("Admin"))
        {
            Response.Redirect(string.Format("~/Pages/Users/Login.cshtml?backUrl={0}&moDAL=1", Request.CurrentExecutionFilePath));
            return;
        }
        if (Request["Id"] == null)
        {
            Response.SetStatus(HttpStatusCode.NotFound);
            return;
        }
        try
        {
            question = Providers.QuestionBll.GetQuestion(Guid.Parse(Request["Id"]));
        }
        catch (Exception e)
        {
            Response.SetStatus(HttpStatusCode.NotFound);
            return;
        }
    }

    if (IsPost)
    {
        var questionIdAsString = Request["QuestionId"];
        var testFk = Request["TestFk"];

        if (!string.IsNullOrWhiteSpace(questionIdAsString))
        {
            var questionId = new Guid(questionIdAsString);
            bool result;

            var answers = Providers.AnswerBll.GetAllAnswersByFk(questionId);
            if (answers != null)
            {
                foreach (var answer in answers)
                {
                    result = Providers.AnswerBll.DeleteAnswer(answer.Id);
                    if (!result)
                    {
                        throw new Exception();
                    }
                }
            }
           
            result = Providers.QuestionBll.DeleteQuestion(questionId);
            if (result)
            {
                Response.Redirect(string.Format("~/Pages/Tests/ViewAllQuestions.cshtml?backUrl={0}&testId={1}", Request.CurrentExecutionFilePath, testFk));
            }
        }
        }
    }

<form method="post" action="~/Pages/Tests/QA/DeleteQuestion.cshtml">
    <span class="alert alert-danger">
        Are you sure?
    </span>
    <div class="form-group">
        <input type="text" class="form-control hidden" name="QuestionId" value="@question.Id">
    </div>
    <div class="form-group">
        <input type="text" class="form-control hidden" name="TestFk" value="@question.TestFk">
    </div>
    <div class="form-group">
        <button type="submit" class="btn">Yes</button>
        <a href="~/Pages/Tests/ViewAllQuestions.cshtml?testId=@question.TestFk" class="btn">No</a>
    </div>
</form>