<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
  <log4net configSource=".\Configuration\log4net.config"/>
  <appSettings>
    <add key="TypeDAL" value="DB" />
    <add key="TypeBLL" value="Basic" />
    <add key="RequiredAnswersCount" value="3" />
    <add key="RequiredActiveQuestionsCount" value="3" />
    <add key="MultipleQuestionWeight" value="2" />
    <add key="TestPassingGrade" value="0,8" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=(localdb)\v11.0;Initial Catalog=KnowledgeCheckingSystemDB;Integrated Security=True" name="Default"/>
  </connectionStrings>
  <system.web>
    <authentication mode ="Forms">
      <forms defaultUrl="~" loginUrl="~/Pages/Users/Login"></forms>
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.cshtml">
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <roleManager defaultProvider="Default" enabled="true">
      <providers>
        <add name="Default" type="KnowSysTest.PL.WebUI.Helpers.KnowSysTestRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>